@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.jokeCard-container {
  width: 96%;
  background-color: rgb(253, 250, 250);
  border-radius: 20px;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 2rem;
  user-select: none;
}

.jokeCardBg {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.jokeCardTopIcon {
  width: 4rem;
  position: absolute;
  top: -27%;
  left: 3%;
}

.jokeTopSideContainer {
  position: relative;
}

.jokeCardCategoryBubble {
  position: absolute;
  width: 3rem;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.jokeText {
  min-width: 90%;
  min-height: 8rem;
  padding: 1rem;
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  overflow-wrap: break-word;
}

.favoriteIcon {
  height: 1.5rem;
  cursor: pointer;
}
.likeIcon {
  height: 1.5rem;
  margin-right: 2rem;
  cursor: pointer;
}

.jokeCardUserAction-container {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0 0 10px 10px;
  padding-left: 1rem;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.jokeCardAuthor-Img {
  width: 1.5rem;
}

.joke-AuthorUsername {
  font-weight: 700;
  font-size: 0.8rem;
}
/*---------------small card styles -------------*/
.jokeCard-containerS {
  width: 10rem;
  height: 2px;
  background-color: rgb(253, 250, 250);
  border-radius: 2px;
  position: relative;
  user-select: none;
  z-index: 3;
}

.jokeCardBgS {
  width: 100%;
  border-radius: 2px 2px 0 0;
}
.jokeCardTopIconS {
  width: 2rem;
  position: absolute;
  top: -60%;
  left: 3%;
}

.jokeTopSideContainerS {
  position: relative;
  top: 0.2rem;
  width: 13rem;
}
.jokeCardCategoryBubbleS {
  position: absolute;
  width: 1rem;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.jokeTextS {
  padding: 1rem;
  background-color: aliceblue;
  width: 11rem;
  height: 3rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  overflow: hidden;
}

.firstJokePartS {
  font-size: 0.7em;
  white-space: wrap;
  text-overflow: ellipsis;
}
.favoriteIconS {
  height: 1rem;
  cursor: pointer;
  display: none;
}
.likeIconS {
  height: 1rem;
  margin-right: 2rem;
  cursor: pointer;
  display: none;
}

.jokeCardUserAction-containerS {
  height: 2.5rem;
  max-width: 13rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  border-radius: 0 0 10px 10px;
}

.jokeAuthor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  cursor: pointer;
}

/*-------------------------------large card styles ---------------------*/

.jokeCard-containerL {
  width: 45rem;
  background-color: rgb(253, 250, 250);
  border-radius: 20px;
  position: relative;
  user-select: none;
  bottom: 130%;
  margin-bottom: 3rem;
}

.jokeCardBgL {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.jokeCardTopIconL {
  width: 4rem;
  position: absolute;
  top: -27%;
  left: 3%;
}

.jokeTopSideContainerL {
  position: relative;
}

.jokeCardCategoryBubbleL {
  position: absolute;
  width: 3rem;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.jokeTextL {
  min-width: 60%;
  min-height: 15rem;
  padding: 1rem;
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favoriteIconL {
  height: 1.5rem;
  cursor: pointer;
  display: none;
}
.likeIconL {
  height: 1.5rem;
  margin-right: 2rem;
  cursor: pointer;
  display: none;
}

.jokeCardUserAction-containerL {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 17.5rem;
  border-radius: 0 0 10px 10px;
}
.arrowContainer {
  height: 100%;
  position: absolute;
  background-color: rgba(77, 77, 77, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.leftArrow {
  left: 0%;
  top: 0%;
}

.rightArrow {
  top: 0%;
  right: 0%;
  transform: rotate(180deg);
}

.arrowContainer > img {
  width: 3.5rem;
}

.carouselArrow:hover {
  filter: invert();
}

.carouselArrow {
  user-select: none;
}
