@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

.jokeCategoryCard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem;
}

.jokeCategoryCard-container > img {
  width: 5rem;
}
.jokeCategoryCard-container:hover {
  color: yellow;
  cursor: pointer;
  background-color: rgb(75, 65, 65);
}
