.followProfileIcon-container {
  text-align: right;
  height: 4rem;
  cursor: pointer;
}

.followProfileIcon:hover {
  filter: brightness(0.8);
}

.followProfileIcon {
  height: 3rem;
  text-align: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.visitedProfile {
  display: none;
}

.profileImg {
  width: 12em;
  border-radius: 50%;
  border: 17px solid white;
}

.profilePicture-container {
  text-align: center;
}

.UserNameAndStatusContainer {
  background-color: rgb(255, 255, 255, 0.8);
  text-align: center;
}

.UserNameAndStatusContainer > h2 {
  font-size: 2.3rem;
}

.UserNameAndStatusContainer > p {
  color: #434da5;
  font-size: 1.2rem;
  font-weight: 900;
}

.followedProfileIcon {
  height: 2.2rem;
  text-align: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 6px solid white;
  border-radius: 50%;
}

.followedProfileIcon:hover {
  filter: brightness(0.8);
}
