.itemCardContainer {
  position: relative;
}

.itemCardImg {
  width: 15em;
}

.itemInfo-container {
  position: absolute;
  top: 55%;
  left: 3%;
  text-align: center;
}

.itemInfo-container > h1 {
  font-size: 1.2rem;
}

/* Apply text overflow handling */
.itemDescription,
.itemPrice {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Ensure the element has a defined width */
}

.itemDescription {
  font-size: 1rem;
  max-height: 4.5rem; /* Adjust based on your desired height for 3 lines */
}

.itemPrice {
  font-size: 1.3rem;
  font-weight: 700;
}

.addToCartBtn {
  background-color: #15bc11;
  display: block;
  margin-left: 3px;
  border: none;
  width: 98.5%;
  height: 2.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.addToCartBtn:hover {
  filter: opacity(0.8);
}

.plate {
  background-color: #f5773c;
}

.tshirt {
  background-color: #ed0202;
}

.painting {
  background-color: #15bc11;
}

.default {
  background-color: #ed0202;
}
