.jokeNavbar {
  background-color: #e97019;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.jokeNavbarLogo {
  height: 100%;
  margin-left: 5rem;
}

.navbarItems {
  height: 100%;
  cursor: pointer;
}

.routesContainer {
  height: 100%;
}
